body {
    background-color: #F7E4D4;
}

section {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;

}

h1 {
    font-family: 'EB Garamond', serif;
    font-size: 48px;
    color: #467745;
    
  }

  @media (max-width: 520px) {
    h1 {
      font-size: 36px;
    }
  }

input {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;

    color: #467745;

    margin: 5px;
    border: none;

    max-width: 480px;
    height: 65px;

}

@media (max-width: 520px) {
    input {
      width: 100% - 40px;
      margin-left: 20px;
    }
  }

textarea {

    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    
    border: none;
    margin: 5px;

    max-width: 480px;
    height: 120px;

}

@media (max-width: 520px) {
    textarea {
      width: 100% - 40px;
      margin-left: 20px;
    }
  }

  .check {
      display: flex;
      font-family: 'EB Garamond', serif;
      border: none;
  }

p {
    display: flex;
    flex-wrap: wrap;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
}


  button {

    display: flex;

    font-family: 'EB Garamond', serif;
    font-weight: normal;
    font-size: 21px;
    letter-spacing: 0.2em;
    text-align: center;

    background-color: #467745;
    color: #F7E4D4;

    border-radius: 25%;
    border: none;
    max-width: 280px;
    height: 80px;

    padding: 50px;



  }